@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
}

.bakgnds {
  position: relative;
}

@media (min-width: 375px) {
  .big-screen-menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: end;
    padding: 20px 35px;
  }

  .home-page {
    background: url(./assets/images/background.png) no-repeat;
    background-position: 100% 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }

  .greetings h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .greetings h1 span {
    color: #36b37e;
  }

  .advert {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 26px;
    color: #172b4d;
  }

  .social-media-links ul {
    display: flex;
    gap: 20px;
    margin-top: 1.25rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .social-media-links ul li a {
    text-decoration: none;
  }

  .scroller {
    margin-top: 84px;
  }

  .bolo-dem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .bolo-dem h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    position: relative;
  }

  .bolo-dem .division {
    display: block;
    height: 0.25rem;
    width: 3rem;
    border-radius: 24px;
    background-color: #36b37e;
  }

  .my-achievement-cards {
    margin-top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .my-achievement {
    width: 20.44rem;
    height: 29.48rem;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .my-achievement-pic {
    height: 11.85rem;
    width: 20.31rem;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-color: #ebf0ee;
  }

  .my-achievement-brief {
    display: grid;
    gap: 20px;
    place-items: center;
  }

  .my-achievement-brief h3 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #3a4a42;
  }

  .my-achievement-brief .technical {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    gap: 9px;
  }

  .my-achievement-brief .technical ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 9px;
  }

  .my-achievement-brief .technical li {
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #3a4a42;
  }

  .the-button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #36b37e;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    transition: box-shadow 0.3s ease;
  }

  .the-button:hover {
    box-shadow: 0 2px 10px #36b37e;
  }

  .the-button:active {
    background-color: #008552;
  }

  .discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative;
  }

  .discover h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .back-extreme-up {
    display: block;
    position: absolute;
    top: -4.69rem;
    right: 0;
    width: 4.25rem;
    height: 7.94rem;
    background-image: url('./assets/images/mask_group.png');
    background-size: cover;
  }

  .back-extreme-upp {
    display: none;
  }

  .back-extreme-down {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 5.94rem;
    height: 4.25rem;
    background-image: url('./assets/images/Frames.png');
    background-size: cover;
  }

  .back-extreme-downn {
    display: none;
  }

  .that-button {
    margin: 40px 0;
  }

  .my-abilitys {
    margin-top: 20px;
  }

  .my-abilitys-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .my-abilitys .my-abilitys-list li {
    display: flex;
    flex-direction: column;
  }

  .my-ability-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20.44rem;
    height: 19.75rem;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .my-ability-list h3 {
    width: 22.31rem;
    height: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin: -20px 0 20px 0;
  }

  .my-abilitys-list .my-ability-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 8px;
    gap: 9px;
  }

  .my-abilitys-list .my-ability-list li {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #36b37e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background: #fff;
    border-radius: 8px;
  }

  .feedback {
    margin-top: 100px;
    position: relative;
  }

  .feedback h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 80px;
  }

  .feedback form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 0 24px;
    place-items: center;
  }

  .feedback form .write {
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 100%;
    height: 48px;
  }

  ::placeholder {
    padding: 15px 16px;
  }

  textarea {
    height: 114px;
    background: #fff;
    width: 100%;
    border: 1px solid #60c095;
    border-radius: 4px;
    resize: both;
    overflow: auto;
  }

  .feedback form button {
    margin-bottom: 40px;
  }

  footer {
    position: relative;
  }

  .back-right {
    display: block;
    position: absolute;
    top: -7.69rem;
    right: 0;
    width: 4.25rem;
    height: 10.94rem;
    background-image: url('./assets/images/Frames.png');
    background-size: cover;
    background-position: right bottom;
  }

  .back-rightt {
    display: none;
  }

  footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .footer-division {
    display: none;
  }

  footer .social-media-links {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .back-extreme-down {
    top: 10rem;
  }
}

@media (min-width: 768px) {
  ul {
    list-style: none;
  }

  .big-screen-menu {
    display: block;
    position: relative;
  }

  .big-screen-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .big-screen-menu ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .menu {
    display: none;
  }

  .home-page {
    background: url(./assets/images/desktop-home-back.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding-top: 200px;
  }

  .advert {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 26px;
    color: #172b4d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .bolo-dem {
    margin-top: 7rem;
  }

  .bolo-dem .division {
    display: none;
  }

  .my-achievement-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .back-extreme-up {
    display: none;
  }

  .back-extreme-upp {
    display: block;
    position: absolute;
    top: -6rem;
    right: 0;
    width: 15.25rem;
    height: 16.94rem;
    background-image: url('./assets/images/desk-back-mid-right.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
  }

  .back-extreme-down {
    display: none;
  }

  .back-extreme-downn {
    display: block;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 19.94rem;
    height: 10.25rem;
    background-image: url('./assets/images/substitute.jpg');
    background-size: 225px;
    background-repeat: no-repeat;
  }

  .my-abilitys-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .back-right,
  .back-rightt,
  .nkop-back,
  .nkop-backk {
    display: none;
  }

  footer p {
    display: none;
  }

  .footer-division {
    display: block;
    width: 100%;
    height: 1px;
    background: #dfe1e6;
  }
}

@media (min-width: 1028px) {
  .my-achievement-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-abilitys-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .feedback {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8% 15%;
  }

  .feedback h3 {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: 2;
  }

  .feedback form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 0 24px;
    flex: 2;
  }

  .feedback form button {
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .back-rightt {
    display: block;
    position: absolute;
    top: -20.69rem;
    right: 0;
    width: 10.25rem;
    height: 20.94rem;
    background-image: url('./assets/images/desk-cont-right.jpg');
    background-size: cover;
    background-position: right bottom;
  }

  .back-right {
    display: none;
  }

  .nkop-back {
    display: block;
    position: absolute;
    top: -16rem;
    left: 0;
    width: 10.94rem;
    height: 16.25rem;
    background-image: url('./assets/images/dek-cont-left.jpg');
    background-size: cover;
  }

  .nkop-backk {
    display: block;
    position: absolute;
    top: -12rem;
    left: 20rem;
    width: 9.94rem;
    height: 7.25rem;
    background-image: url('./assets/images/desk-cont-mid.jpg');
    background-size: cover;
  }
}
