@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  margin-bottom: 5%;
}

@media (min-width: 375px) {
  .desktop-menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: end;
    padding: 20px 35px;
  }

  .home-section {
    background: url(./assets/images/background.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  .salutation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }
  
.home-section {
  background: url(./assets/images/background.png) no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

  .salutation h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .salutation h1 span {
    color: #36b37e;
  }

  .my-ability {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 26px;
    color: #172b4d;
  }

  .social-media-links ul {
    display: flex;
    gap: 1px;
    margin-top: 1.25rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .social-media-links ul li a {
    text-decoration: none;
  }

  .my-achievements {
    display: grid;
    place-items: center;
    height: auto;
  }

  .my-achievements h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    position: relative;
  }

  .my-achievements .division {
    display: block;
    height: 0.25rem;
    width: 3rem;
    border-radius: 24px;
    background-color: #36b37e;
  }

  .achievements-container {
    margin-top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .achievement-detail {
    width: 20.44rem;
    height: 29.48rem;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .achievement-detail_pic {
    height: 11.85rem;
    width: 20.31rem;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-color: #ebf0ee;
  }

  .achievement-detail_brief {
    display: grid;
    gap: 20px;
    place-items: center;
  }

  .achievement-detail_brief h3 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #3a4a42;
  }

  .achievement-detail_brief .teck-stack {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    gap: 9px;
  }

  .achievement-detail_brief .teck-stack ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 9px;
  }

  .achievement-detail_brief .teck-stack li {
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #3a4a42;
  }

  .the-button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #36b37e;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    transition: box-shadow 0.3s ease;
  }

  .the-button:hover {
    box-shadow: 0 2px 10px #36b37e;
  }

  .the-button:active {
    background-color: #008552;
  }

  .my-personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative;
  }

  .my-personal-info h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .background-extreme-corner {
    position: absolute;
    top: -4.69rem;
    right: 0;
    width: 4.25rem;
    height: 7.94rem;
    background-image: url('./assets/images/mask_group.png');
    background-size: cover;
  }

  .background-extreme-bottom-corner {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 5.94rem;
    height: 4.25rem;
    background-image: url('./assets/images/frames.png');
    background-size: cover;
  }

  .about-button {
    margin: 40px 0;
  }

  .my-ability-display {
    margin-top: 20px;
  }

  .my-ability-display-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr; /* One column */
    gap: 20px;
  }

  .my-ability-display .my-ability-display-list li {
    display: flex;
    flex-direction: column;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20.44rem;
    height: 19.75rem;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .skill-list h3 {
    width: 22.31rem;
    height: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin: -20px 0 20px 0;
  }

  .my-ability-display-list .skill-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 8px;
    gap: 9px;
  }

  .my-ability-display-list .skill-list li {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #36b37e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background: #fff;
    border-radius: 8px;
  }
}

@media (min-width: 600px) {
  .background-extreme-bottom-corner {
    top: 10rem;
  }
}

@media (min-width: 768px) {
  .achievements-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .my-ability-display-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1028px) {
  .achievements-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-ability-display-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.scroller {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
